$logoWidth: 20px;

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  nav.navbar {
    span.navbar-brand {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      img.logo {
        height: $logoWidth;
        width: $logoWidth;
      }
    }
    a.nav-link {
      text-transform: capitalize;
    }
  }
}

div.card {
  cursor: pointer;
}

footer {
  margin-top: auto;
}
