$logoWidth: 20px;

header {
  nav.navbar {
    a.navbar-brand {
      display: flex;
      align-items: center;
      gap: 4px;
      img.logo {
        height: $logoWidth;
        width: $logoWidth;
      }
    }
    a.nav-link {
      text-transform: capitalize;
    }
  }
}
