$logoWidth: 20px;

div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  nav.navbar {
    span.navbar-brand {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      img.logo {
        height: $logoWidth;
        width: $logoWidth;
      }
    }
    a.nav-link {
      text-transform: capitalize;
    }
  }
}

div.card {
  cursor: pointer;
}

footer {
  margin-top: auto;
}

span.rating {
  color: orange;
  display: inline-flex;
  gap: 2px;
  margin-top: 8px;
}

div.modal-header {
  span.rating {
    font-size: large;
    margin-top: 4px;
  }
}
